<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

	<h1>Work description data:</h1>

	<table border="1px">
		<tr>
			<td>Idkpiwd</td>
			<td>Date</td>
			<td>Amount</td>
			<td>Description</td>
			<td>Starting_date</td>
			<td>Ending_date</td>
		</tr>
		<tr>

			<td th:text="${package.idpi}"></td>
			<td th:text="${package.active}"></td>
			<td th:text="${package.projectNumber}"></td>
			<td th:text="${package.projectName}"></td>
			<td th:text="${package.startingDate}"></td>
			<td th:text="${package.endingDate}"></td>

		</tr>
	</table>

</body>

</html>